@import "primeng/resources/themes/md-dark-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=sw');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  font-family: 'Roboto', sans-serif;
}

@mixin rotate-center-animation {
  @keyframes rotate-center {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  animation: rotate-center 0.6s ease-in-out both;
}

.rotate-center {
  @include rotate-center-animation; // Utilizando a mixin que define a rotação
}
