@import "primeng/resources/themes/lara-light-blue/theme.css";

@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=sw');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  font-family: 'Roboto', sans-serif;
}
